<div class="flex flex-col gap-4">
  <div
    class="sticky top-0 bg-main z-10 py-4 after:absolute after:top-full after:left-0 after:w-full after:h-px after:from-line-dimmed after:to-transparent after:via-line-dimmed after:bg-gradient-to-b after:via-10%">

    <div class="flex items-center justify-between mb-4" x-show="showActions">
      <div class="flex items-center gap-4 shrink-0">
        <button @click="copyDocumentContents"
          class="flex items-center gap-1 px-2 py-1 text-sm transition-all rounded-lg text-content-dimmed hover:bg-intermediate hover:text-intermediate-content disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
          :disabled="isProcessing">
          <i class="text-xl ti ti-copy"></i>

          Copy
        </button>

        <div class="relative"
          @click.outside="$refs.downloadOptions.removeAttribute('data-open')">

          <button @click="$refs.downloadOptions.toggleAttribute('data-open')"
            class="flex items-center gap-1 px-2 py-1 text-sm transition-all rounded-lg text-content-dimmed hover:bg-intermediate hover:text-intermediate-content disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
            :disabled="isProcessing">
            <i class="text-xl ti ti-download"></i>

            Download
          </button>

          <div class="context-menu context-menu-bl" x-ref="downloadOptions"
            @click="$el.removeAttribute('data-open')">

            <ul class="text-sm">
              <li>
                <button
                  class="flex items-center w-full gap-2 px-4 py-2 text-left hover:bg-intermediate"
                  @click="download('word')">
                  <i class="text-lg text-content-dimmed ti ti-letter-w"></i>
                  Word document
                </button>
              </li>

              <li>
                <button
                  class="flex items-center w-full gap-2 px-4 py-2 text-left hover:bg-intermediate"
                  @click="download('html')">
                  <i class="text-lg text-content-dimmed ti ti-brand-html5"></i>
                  HTML file
                </button>
              </li>

              <li>
                <button
                  class="flex items-center w-full gap-2 px-4 py-2 text-left hover:bg-intermediate"
                  @click="download('markdown')">
                  <i class="text-lg text-content-dimmed ti ti-markdown"></i>
                  Markdown
                </button>
              </li>

              <li>
                <button
                  class="flex items-center w-full gap-2 px-4 py-2 text-left hover:bg-intermediate"
                  @click="download('text')">
                  <i class="text-lg text-content-dimmed ti ti-txt"></i>
                  Text
                </button>
              </li>
            </ul>
          </div>
        </div>

        <template x-if="!autosave">
          <button @click="saveDocument"
            class="flex items-center gap-1 px-2 py-1 text-sm transition-all rounded-lg text-content-dimmed hover:bg-intermediate hover:text-intermediate-content disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
            :disabled="isProcessing || !doc.title">
            <i class="text-xl ti ti-device-floppy"></i>

            Save
          </button>
        </template>

        <template x-if="autosave && saving">
          <div
            class="flex items-center gap-1 px-2 py-1 text-sm rounded-lg text-content-dimmed">
            <i class="text-xl ti ti-device-floppy"></i>

            Saving
          </div>
        </template>
      </div>

      <template x-if="doc.id">
        <button @click="deleteDocument"
          class="flex items-center gap-1 px-2 py-1 text-sm transition-all rounded-lg hover:bg-intermediate text-content-dimmed hover:text-intermediate-content group">
          <i class="text-xl ti ti-trash group-hover:text-failure"></i>
          Delete
        </button>
      </template>
    </div>

    <div
      class="text-3xl font-light leading-10 autogrow-textarea font-editor-heading"
      :data-replicated-value="doc.title">
      <textarea placeholder="Untitled document" autocomplete="off"
        x-model="doc.title" :readonly="readonly" rows="1"
        class="block w-full px-0 py-0 transition-colors bg-transparent border-0 appearance-none resize-none focus:ring-0 placeholder:text-content-dimmed placeholder:opacity-50 read-only:text-content-dimmed"></textarea>
    </div>

    <div class="mt-1" x-show="doc.id">
      <code is="resource-id" x-text="doc.id"></code>
    </div>
  </div>

  <div class="flex items-center gap-4 px-4 py-2" x-show="showWave">
    <button type="button"
      class="flex items-center justify-center w-12 h-12 p-0 rounded-full shrink-0 button button-outline"
      @click="wave.playPause();">
      <i class="text-2xl ti ti-player-pause" x-show="audioIsPlaying"></i>
      <i class="text-2xl ti ti-player-play" x-show="!audioIsPlaying"></i>
    </button>

    <div class="w-full grow-1">
      <div x-ref="wave"></div>
    </div>
  </div>

  <div class="editor" x-html="output">
  </div>

  <ul class="grid grid-cols-4 gap-4 mt-6" x-show="showGallery">
    <template x-for="i in images">
      <li class="relative">
        <div
          class="pt-[100%] border-4 border-intermediate bg-intermediate/50 rounded-xl">

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="48px" height="48px" viewBox="0 0 50 50"
            style="enable-background:new 0 0 50 50;" xml:space="preserve"
            class="absolute -translate-x-1/2 -translate-y-1/2 spinner top-1/2 left-1/2">
            <path fill="currentColor"
              d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
              <animateTransform attributeType="xml" attributeName="transform"
                type="rotate" from="0 25 25" to="360 25 25" dur="0.6s"
                repeatCount="indefinite"></animateTransform>
            </path>
          </svg>

          <img
            class="absolute top-0 left-0 z-10 object-cover w-full h-full rounded-xl"
            :src="i" alt="">
        </div>
      </li>
    </template>

    <template x-if="showGallery && isContentProcessing">
      <li class="relative">
        <div
          class="pt-[100%] border-4 border-intermediate bg-intermediate/50 rounded-xl">
          <svg width="24" height="24" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -translate-x-1/2 -translate-y-1/2 spinner top-1/2 left-1/2">
            <style>
              .spinner_S1WN {
                animation: spinner_MGfb .8s linear infinite;
                animation-delay: -.8s
              }

              .spinner_Km9P {
                animation-delay: -.65s
              }

              .spinner_JApP {
                animation-delay: -.5s
              }

              @keyframes spinner_MGfb {

                93.75%,
                100% {
                  opacity: .2
                }
              }
            </style>
            <circle class="spinner_S1WN" cx="4" cy="12" r="3" />
            <circle class="spinner_S1WN spinner_Km9P" cx="12" cy="12" r="3" />
            <circle class="spinner_S1WN spinner_JApP" cx="20" cy="12" r="3" />
          </svg>
        </div>
      </li>
    </template>
  </ul>

  <template x-if="showCost">
    <div class="flex items-center gap-1 text-sm text-content-dimmed">
      <span class="mr-1 font-bold text-intermediate-content">Cost of
        request:</span>

      <template x-if="cost.token > 0">
        <span class="flex items-center gap-2 font-mono badge">
          <i class="text-xl ti ti-square-rounded-letter-t"></i>
          <span x-text="`${cost.token} tokens`"></span>
        </span>
      </template>

      <template x-if="cost.image > 0">
        <span class="flex items-center gap-2 font-mono badge">
          <i class="text-xl ti ti-photo"></i>
          <span x-text="`${cost.image} images`"></span>
        </span>
      </template>

      <template x-if="cost.audio > 0">
        <span class="flex items-center gap-2 font-mono badge">
          <i class="text-xl ti ti-volume"></i>
          <span x-text="`${cost.audio} seconds`"></span>
        </span>
      </template>
    </div>
  </template>
</div>