<div
  class="flex items-center justify-between gap-6 p-6 bg-intermediate rounded-xl">
  <div class="max-w-5xl">
    <div class="flex items-center gap-3">
      <h1 class="text-xl font-bold">
        {% block title %}{% endblock %}
      </h1>

      {% block badge %}{% endblock %}
    </div>

    {% if block('desc') is not empty %}
    <div class="mt-1 text-content-dimmed">
      {% block desc %}{% endblock %}
    </div>
    {% endif %}
  </div>

  {% if back %}
  <a href="{{ back }}" class="text-sm button button-outline hover:gap-3 group">
    <i class="transition-all ti ti-arrow-left group-hover:scale-150"></i>
    Back
  </a>
  {% endif %}
</div>